body {
	margin-top: 1cm;
	margin-left: 2cm;
	color: #222222;
	background-color: #ffffff;
	line-height: 1.4em;
    padding-bottom: 80px;
}

#sseq_display {
    margin-top: 0.1cm;
    margin-left: 0cm;
}

td {
    "valign" : "top";
}

#root { /* root is id of the <body> of www/index.html */
    max-width: 820px;
}

h1 {
	margin-left: -2cm;
	padding-left: 2cm;
	padding-bottom: 10px;
    color: #101010;
    font-family: verdana;
    font-weight: lighter;
	max-width:10000000000000000px;
}

h2 {
	margin-left: -2cm;
	padding-left: 2cm;
	color: #101010;
	font-family: verdana;
	font-weight: bold;
	font-style: underline;
}

h3 {
	color: #101010;
	font-family: verdana;
	font-weight: lighter;
}

table {
	border: 0px;
}

a {
	color: #2d5391;
    text-decoration: none;
}

#info {
    padding-right: 50px;
    text-align: center; 
    vertical-align: middle;
    width: 100%;
    font-size: 14pt;
    font-family: verdana;    
}

#info li {
    list-style-type: none;
    padding-bottom: 3px;
}

.title {
    font-style: italic;
}

#talk_notes li {
    margin-bottom: 16px;
}

#program_list li {
    margin-bottom: 8px;
}

p {
    margin: 0pt;
}

p + p {
    margin-top: 8pt;
}

/* Now the spectral_sequences.index.php. Here spectral_sequences is the <body> id */

#spectral_sequences {
    font-size: 14pt;
}

#spectral_sequences .file {
    padding-right: 30px;
}

#spectral_sequences .description {
    
}
